body {
  background-color: rgb(222, 69, 195);
  background: linear-gradient(
    0deg,
    rgba(222, 69, 195, 1) 0%,
    rgb(129, 25, 150) 100%
  );
  height: 100vh;
}

.main-section {
  width: 54%;
  height: 54vh;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  display: flex;
  text-align: center;
  border-radius: 6px;
  box-shadow: 3px 2px 30px;
}

.main-section > div {
  background-color: rgba(247, 198, 198, 0.61);
  width: 50%;
  padding: 24px;
  border-radius: 2px;
}

.main-section h1 {
  font-size: 34px;
  font-weight: bold;
}

.main-section .score {
  color: rgb(129, 25, 150);
}

.main-section .curent-score {
  width: 36%;
  margin: 66px auto 0;
  background-color: rgb(129, 25, 150);
  border-radius: 6px;
  color: rgba(222, 69, 195, 1);
  padding: 2px;
}

.main-section .active {
  background-color: rgb(247, 198, 198);
}

.dice-img,
.start-btn,
.roll-btn,
.hold-btn {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.start-btn {
  top: 12%;
}

.dice-img {
  top: 48%;
}

.roll-btn {
  top: 68%;
}

.hold-btn {
  top: 78%;
}

button {
  background-color: rgb(248, 232, 201);
  border: none;
  outline: none;
  padding: 6px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  width: 120px;
}

.hidden {
  display: none;
}

.rotate {
  animation: rotation 1.5s infinite linear;
}

.rotate {
  left: 46%;
  top: 40%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
